@import '../../variables.modules';

h1 {
  font-size: 1.5rem;
  text-align: left;
}
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2.25rem;
    text-align: left;
  }
}
// @media only screen and (max-width: 768px) {
//   h1 {
//     font-size: 2.725rem;
//     text-align: center;
//   }
// }

h2 {
  font-size: 1.275rem;
  text-align: left;
}
@media only screen and (max-width: 640px) {
  h2 {
    font-size: 2rem;
    text-align: center;
  }
}
// @media only screen and (max-width: 768px) {
//   h2 {
//     font-size: 2.5rem;
//     text-align: center;
//   }
// }

.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

a {
  color: $dark;
  transition: color 300ms ease;
}

a:hover {
  color: $red !important;
  transition: color 300ms ease;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

